{
  "extends": [
    "@neogeek/eslint-config-standards"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "no-magic-numbers": 0,
    "no-unused-vars": 0,
    "sort-imports": 0
  }
}
