<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>React.js Starter Kit</title>
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<div id="site-wrapper"><%- content %></div>

<script src="/js/build.min.js"></script>

</body>
</html>
